#c{
 justify-content: center;
 text-align: center;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
body {
 background-color: black;
 animation: bg 2s;
 color: white;
 font-size: 2vh;
 font-family: Arial, Roboto, Sans-serif;
}
@keyframes bg {
 from {
  opacity: 0;
 }
 to {
  opacity: 100;
 }
}
hr {
 border: none;
 background-color: transparent;
}
button {
 font-size: 2.5vh;
 color: white;
 border: none;
 border-radius: 10px;
 padding: 15px;
 background-color: red;
}
footer {
 opacity: 40%;
 font
 font-size: 1.5vh;
}